<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Model1" connectionString="data source=Laboratorio.mssql.somee.com;initial catalog=Laboratorio;persist security info=True;user id=SilkenHarbor6_SQLLogin_1;password=gs29ygoezr;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>